rtl/ip/** linguist-generated=true

rtl/verilog/*_hw.tcl linguist-generated=true

rtl/*.sdc linguist-generated=true

firmware/**/RTE/**/*.c linguist-generated=true
firmware/**/RTE/**/*.h linguist-generated=true
firmware/**/RTE/**/*.sct linguist-generated=true